@font-face {
    font-family: 'Mitr-Bold';
    src: url('/font/Mitr-Bold.ttf');
}

@font-face {
    font-family: 'Mitr-Medium';
    src: url('/font/Mitr-Medium.ttf');
}

@font-face {
    font-family: 'Mitr-Regular';
    src: url('/font/Mitr-Regular.ttf');
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Mitr-Medium';
}

.title {
    font-family: 'Mitr-Regular';
}